* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background-color: #373737;
  font-family: serif;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

main {
  color: whitesmoke;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  margin: 1rem;
}

main p,
main h1 {
  max-width: 60ch;
  pointer-events: all;
}

.flow > * + * {
  margin-top: 1em;
}
